<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<div>
    <nav th:fragment="menu">
        <ul>
            <li><a th:href="@{/}">Welkom</a> </li>
            <li><a th:href="@{/Sauzen}">Sauzen</a> </li>
            <li><a th:href="@{/taal}">Taal</a> </li>
            <li><a th:href="@{/alfabetSauzen}">Alfabet</a> </li>
        </ul>
    </nav>
</div>
<head th:fragment="head(title)">
    <title th:text="${title}"></title>
    <link rel="icon" th:href="@{/images/frida.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/frituurfrida.css}">
</head>
</html>